.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}

.mat-cell{
  text-align: center;
  padding-top: 16px;
}

.cabecalho{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  align-items: baseline;
  padding: 0px 16px;
}

.botao-adicionar{
  border-radius: 20px;
  background: var(--Financeira-Financiamento-Primary-dark, #0A4A5B);
  display: flex;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: #F5F5F5;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border-width: 0px;
}

.cabecalho-tabela{
  background: var(--Financeira-Financiamento-Primary-light, #11728B);
}

.label-titulo{
  color: var(--Financeira-Financiamento-Neutral-white, #FFF);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}

.__titulo-id{
  border-radius: 40px 0px 0px 40px;
}

.__titulo-acao{
  border-radius: 0px 0px 40px 0px;
}

:host ::ng-deep [class*="mat-sort-header-container"]  {
  justify-content: center;
  margin: 0px 0px 0px 2em;
}

:host ::ng-deep [class*="mat-mdc-paginator-page-size-label"] {
  font-family: 'Montserrat';
}

:host ::ng-deep [class*="mat-mdc-paginator-page-size-select"] {
  width: 64px;
}

.table-container{
  margin: 0px 16px;
}

:host ::ng-deep .mat-mdc-table .mdc-data-table__header-row {
  border-radius: 40px 0px 40px 40px;
  background: var(--Financeira-Financiamento-Primary-light, #11728B);
}

.label-conteudo{
  color: var(--Financeira-Financiamento-Neutral-dark, #4F4F4F);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}


.toolbar{
  background: var(--Financeira-Financiamento-Primary-darkest, #002C37);
  color: #F5F5F5;
  font-family: 'Montserrat';
}

:host ::ng-deep .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
  font-family: "Montserrat";
}